<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Fiyorant, a website for find your favorite or nearest restaurants. 
                   There are much recommended restauranst in here">
    <meta name="theme-color" content="#353232"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous"></link>
    <title>Fiyorant</title>
</head>
<body>
    <header>
        <nav>
            <a class="skip-content" href="#mainContent">Skip to content</a>
            <a href="#/home" class="brand"><h4 >Fiyorant</h4></a>
            <button aria-label="bar menu" id="menuBar">☰</button>
            <ul id="navBar">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.instagram.com/_njblck/" target="new">About Us</a></li>
            </ul>
        </nav>

        <div class="hero" id="hero">
            <div class="hero_inner">
                <h1 class="hero_title">Find your favorite or nearest restaurants</h1>
                <p class="hero_tagline">Let's take a peek at some of our recommended restaurants below!</p>
            </div>
        </div>
    </header>

    <main id="mainContent"></main>

    <footer>
        Copyright &copy; 2021 - Fiyorant
    </footer>
</body>
</html>
